footer {
  color: $color-grey-light;
  background-color: #000;
  padding: 9rem 7rem 3rem 7rem;
  @include mq("small-screen-1") {
    padding: 1rem 7rem 3rem 7rem;
  }
  @include mq("small-screen-2") {
    padding: 1rem 7rem 3rem 7rem;
  }
  @include mq("small-screen-3") {
    padding: 1rem 7rem 3rem 7rem;
  }
  .sns-list {
    display: flex;
    width: 100%;
  }
  .sns-list img {
    filter: invert(100%);
    width: 50%;
    opacity: 0.8;
  }
  .span-hidden {
    display: inline-block;
    text-indent: -99999px;
  }

  .logo-text-footer {
    width: 25%;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    @include mq("small-screen-1") {
      width: 50%;
    }
    @include mq("small-screen-2") {
      width: 40%;
    }
    @include mq("small-screen-3") {
      width: 50%;
    }
  }
  .copyright {
    font-size: 1.2rem;
    text-align: center;
    @include mq("small-screen-2") {
      width: 100%;
    }
    @include mq("small-screen-3") {
      width: 100%;
    }
    p {
      margin: 3rem;
      word-break: break-all;
      display: inline-block;
    }
  }
}
