main {
  @include clearfix();
  .section-about {
    background-color: #000;
    padding: 7rem 6.5rem 6rem;
    min-height: 42rem;
    width: 100%;
    float: left;

    img {
      width: 77%;
      @include mq("small-screen-1") {
        width: 100%;
      }
      @include mq("small-screen-2") {
        width: 100%;
        margin: 5rem auto 0;
      }
      @include mq("small-screen-3") {
        width: 100%;
        margin: 5rem auto 0;
      }
    }
    @include clearfix();
    &:last-child {
      text-align: center;
      background: inherit;
    }
  }
  .section-about-words {
    float: right;
    width: 21%;
    @include mq("small-screen-1") {
      float: none;
      display: inline;
      text-align: center;
    }
    @include mq("small-screen-2") {
      float: none;
      display: inline;
      text-align: center;
    }
    @include mq("small-screen-3") {
      float: none;
      display: inline;
      text-align: center;
    }
    .about-name {
      border-bottom: 1px solid #fff;
      font-size: 4rem;
      padding-bottom: 2.3rem;
      margin-bottom: 2rem;
      line-height: 1;
      color: $color-white;
    }
    span {
      font-size: 1.8rem;
      margin-left: 20px;
    }
    .about-title {
      color: $color-white;
      font-weight: bold;
      margin-bottom: 35px;
      font-size: 1.8rem;
    }
  }
}

.more-btn {
  margin-top: 10rem;
  .txt {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1em;
    line-height: 48px;
    text-align: center;
    box-sizing: border-box;
    z-index: 50;
    &:hover {
      background: $color-primary;
    }
  }
}

.gallery {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gl-container {
  max-width: 800px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.item {
  min-height: 200px;
  flex-basis: 150px;
  flex-grow: 1;
  img {
    width: 80%;
  }
}

.gallery > * {
  flex-grow: 0;
}

.swiper-button-next {
  background: url("../images/right.png") right center/20% no-repeat;
  width: 20%;
  height: 9%;
  opacity: 0.8;
  @include mq("small-screen-1") {
    width: 45%;
    margin: 5px 0;
  }
  @include mq("small-screen-2") {
    width: 45%;
    margin: 5px 0;
  }
  @include mq("small-screen-3") {
    width: 45%;
    margin: 5px 0;
  }
}

.swiper-button-prev {
  background: url("../images/left.png") left center/20% no-repeat;
  width: 20%;
  height: 9%;
  opacity: 0.8;
  @include mq("small-screen-1") {
    width: 45%;
    margin: 5px 0;
  }
  @include mq("small-screen-2") {
    width: 45%;
    margin: 5px 0;
  }
  @include mq("small-screen-3") {
    width: 45%;
    margin: 5px 0;
  }
}

.show-up {
  opacity: 0;
}
.show-up.active {
  animation: moveUp 1s forwards;
}
.show-up.active.delay {
  animation-delay: 0.4s;
}
.show-up.active.delay-more {
  animation-delay: 0.8s;
}
