h2 {
  padding: 1rem 0 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(
    0deg,
    rgba(92, 27, 140, 1) 0%,
    rgba(101, 29, 153, 1) 19%,
    rgba(242, 233, 243, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
}

h3 {
  padding: 0.5rem 0;
  color: $color-grey-dark;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

dl {
  overflow: hidden;
  line-height: 1.4;
  font-family: "Playfair Display SC", serif;
}

dt {
  margin-bottom: 0.5rem;
  color: #888;
  font-size: 1.6rem;
  font-family: "Song Myung", serif;
}

dd {
  margin-bottom: 1.2rem;
  color: $color-Purple-2;
  font-size: 1.5rem;
  font-family: "Song Myung", serif;
}
