h2 {
  padding: 1rem 0;
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(
    to left,
    $color-primary,
    $color-secondary,
    $color-white
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Tiro Tamil", serif;
}

h3 {
  padding: 0.5rem 0;
  color: $color-grey-dark;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

dl {
  overflow: hidden;
  line-height: 1.4;
}

dt {
  margin-bottom: 8px;
  color: #888;
  font-size: 1.6rem;
}

dd {
  margin-bottom: 16px;
  color: #fff;
  font-size: 1.5rem;
}
