$color-primary: #5c1b8c;
$color-secondary: #651d99;
$color-white: #fff;

$color-Purple-1: #4c1673;
$color-Purple-2: #9029d9;
$color-Purple-3: #330f4d;
$color-Purple-dark: #533f56;

$color-grey-light: #b9b9b9;
$color-grey-dark: #474747;
